<div class="buildings">
    <div class="building b1">
        <div class="building-flag"></div>
        <div class="windows">
            <div class="window"></div><div class="window"></div><div class="window"></div>
            <div class="window"></div><div class="window"></div><div class="window"></div>
        </div>
        <div class="door"></div>
    </div>
    <div class="building b2">
        <div class="building-flag"></div>
        <div class="windows">
            <div class="window"></div><div class="window"></div><div class="window"></div>
            <div class="window"></div><div class="window"></div><div class="window"></div>
            <div class="window"></div><div class="window"></div><div class="window"></div>
        </div>
        <div class="door"></div>
    </div>
    <div class="building b3">
        <div class="building-flag"></div>
        <div class="windows">
            <div class="window"></div><div class="window"></div><div class="window"></div>
            <div class="window"></div><div class="window"></div><div class="window"></div>
        </div>
        <div class="door"></div>
    </div>
    <div class="building b4">
        <div class="building-flag"></div>
        <div class="windows">
            <div class="window"></div><div class="window"></div>
        </div>
        <div class="door"></div>
    </div>
    <div class="building b5">
        <div class="building-flag"></div>
        <div class="windows">
            <div class="window"></div><div class="window"></div><div class="window"></div>
            <div class="window"></div><div class="window"></div><div class="window"></div>
            <div class="window"></div><div class="window"></div><div class="window"></div>
            <div class="window"></div><div class="window"></div><div class="window"></div>
        </div>
        <div class="door"></div>
    </div>
</div>
