<div class="fighter-jets">
    <div class="fighter-jet jet1">
        <div class="jet-body"></div>
        <div class="jet-nose"></div>
        <div class="jet-cockpit"></div>
        <div class="jet-tail"></div>
        <div class="jet-wing-left"></div>
        <div class="jet-wing-right"></div>
        <div class="jet-flag"></div>
        <div class="jet-flame"></div>
    </div>
    <div class="fighter-jet jet2">
        <div class="jet-body"></div>
        <div class="jet-nose"></div>
        <div class="jet-cockpit"></div>
        <div class="jet-tail"></div>
        <div class="jet-wing-left"></div>
        <div class="jet-wing-right"></div>
        <div class="jet-flag"></div>
        <div class="jet-flame"></div>
    </div>
</div>
