<div class="interceptor-missile">
    <div class="israeli-flag"></div>
    <div class="interceptor-flame"></div>
</div>
<div class="threat-missile"></div>
<div class="interceptor-missile">
    <div class="israeli-flag"></div>
    <div class="interceptor-flame"></div>
</div>
<div class="threat-missile"></div>
<div class="interceptor-missile">
    <div class="israeli-flag"></div>
    <div class="interceptor-flame"></div>
</div>
<div class="threat-missile"></div>
<div class="interceptor-missile missile-alt1">
    <div class="israeli-flag"></div>
    <div class="interceptor-flame"></div>
</div>
<div class="threat-missile missile-alt1"></div>
<div class="intercept-explosion alt1"></div>
<div class="interceptor-missile missile-alt2">
    <div class="israeli-flag"></div>
    <div class="interceptor-flame"></div>
</div>
<div class="threat-missile missile-alt2"></div>
<div class="intercept-explosion alt2"></div>
<div class="interceptor-missile missile-alt3">
    <div class="israeli-flag"></div>
    <div class="interceptor-flame"></div>
</div>
<div class="threat-missile missile-alt3"></div>
<div class="intercept-explosion alt3"></div>
<div class="intercept-explosion"></div>
