<div class="random-missiles">
    <div class="random-missile"></div>
    <div class="random-interceptor"></div>
    <div class="napr-explosion1"></div>
    <div class="random-missile"></div>
    <div class="random-interceptor"></div>
    <div class="napr-explosion2"></div>
    <div class="random-missile"></div>
    <div class="random-interceptor"></div>
    <div class="napr-explosion3"></div>
    <div class="random-missile"></div>
    <div class="random-interceptor"></div>
    <div class="napr-explosion4"></div>
    <div class="random-missile"></div>
    <div class="random-interceptor"></div>
    <div class="napr-explosion5"></div>
</div>
